.login {
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}
.logo_content, .login_content {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.logo_content {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: yellow;
}
.login_content {
    background-color: white;
}
.logo_content img {
    position: relative;
    width: 256px;
    height: 256px;
    margin-bottom: 10px;
}
.logo_content h1 {
    font-size: 128px;
    font-family: 'Monoton', cursive;
    color: white;
}
.login_content p{
    font-size: 15px;
    position: absolute;
    bottom: 0;
}
