.ant-menu-item {
  color: #bfbfbf !important;
  font-size: 14px !important;
  .ant-menu-item-icon {
    font-size: 16px !important;
  }
}
.ant-menu-item-selected {
  color: white !important;
  font-size: 16px !important;
}
