.home .ant-tabs-nav {
    margin: 0 !important;
    background-color: white;
    border-radius: 2px;
}
.home .ant-tabs-nav .ant-tabs-tab{
    margin: 0 !important;
    padding: 20px 20px 20px 20px !important;
}
.home .ant-card-body {
    padding: 0 !important;
}
.home .ant-tabs-content-holder {
   display: none !important;
}
